.venv

**/.vscode/
.cache/

**/build/
**/install/
**/devel/
**/log/
**/logs/

**/__pycache__/
*.pyc

images/*
videos/*
weights/*
!**/.gitkeep

.catkin_workspace
*.log

train_imgs/
train_imgs_test/

*~

# Skills files
.agents/
.claude
.pi
skills-lock.json
