[submodule "src/stonefish_ros2"]
	path = src/stonefish_ros2
	url = https://github.com/avbotz/stonefish_ros2
	branch = errors-at-end
[submodule "src/sub_drivers/waterlinked_dvl"]
	path = src/sub_drivers/waterlinked_dvl
	url = https://github.com/avbotz/waterlinked_dvl
	branch = altitude-depth
[submodule "src/sub_drivers/flir_camera_driver"]
	path = src/sub_drivers/flir_camera_driver
	url = https://github.com/ros-drivers/flir_camera_driver
