<?xml version="1.0"?>
<scenario>
  {% from "thruster.j2" import thruster_actuator, thruster_visual %}

  <looks>
    <look name="White" gray="0.9" roughness="0.5" />
    <look name="Gray" gray="0.5" roughness="0.5" />
    <look name="Black" gray="0.05" roughness="0.5" />
    <look name="Marlin_Blue" rgb="{{ 59 / 255 }} {{ 96 / 255 }} {{ 180 / 255 }}" roughness="0.5" />
  </looks>

  <robot name="marlin_v2" fixed="false" self_collisions="false" algorithm="featherstone">
    <base_link name="base_link_ned" type="compound" physics="submerged">

      <!-- Frame -->

      <external_part name="Frame_Top" type="model" physics="submerged" buoyant="false">
        <physical>
          <mesh filename="robots/marlin_v2/frame/frame_top/frame_top_collision.obj" scale="1.0" convex="true" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </physical>

        <visual>
          <mesh filename="robots/marlin_v2/frame/frame_top/frame_top.obj" scale="1.0" />
          <origin xyz="0.0 0.0 0.025" rpy="0.0 0.0 0.0" />
        </visual>

        <mass value="3.460" />

        <material name="Aluminum" />
        <look name="Black" />

        <compound_transform xyz="0.0 0.0 -0.025" rpy="0.0 0.0 0.0" />
      </external_part>

      <external_part name="Frame_Front" type="model" physics="submerged" buoyant="false">
        <physical>
          <mesh filename="robots/marlin_v2/frame/frame_front/frame_front_collision.obj" scale="1.0" convex="true" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </physical>

        <visual>
          <mesh filename="robots/marlin_v2/frame/frame_front/frame_front.obj" scale="1.0" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </visual>

        <mass value="0.274" />

        <material name="Aluminum" />
        <look name="Black" />

        <compound_transform xyz="0.0 -0.314 0.08462" rpy="0.0 0.0 0.0" />
      </external_part>

      <external_part name="Frame_Back" type="model" physics="submerged" buoyant="false">
        <physical>
          <mesh filename="robots/marlin_v2/frame/frame_back/frame_back_collision.obj" scale="1.0" convex="true" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </physical>

        <visual>
          <mesh filename="robots/marlin_v2/frame/frame_back/frame_back.obj" scale="1.0" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </visual>

        <mass value="0.274" />

        <material name="Aluminum" />
        <look name="Black" />

        <compound_transform xyz="0.0 0.309 0.08462" rpy="0.0 0.0 0.0" />
      </external_part>

      <external_part name="Frame_Left" type="model" physics="submerged" buoyant="false">
        <physical>
          <mesh filename="robots/marlin_v2/frame/frame_left/frame_left_collision.obj" scale="1.0" convex="true" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </physical>

        <visual>
          <mesh filename="robots/marlin_v2/frame/frame_left/frame_left.obj" scale="1.0" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </visual>

        <mass value="0.481" />

        <material name="Aluminum" />
        <look name="Black" />

        <compound_transform xyz="0.3304 0.016419 0.083065" rpy="0.0 0.0 0.0" />
      </external_part>

      <external_part name="Frame_Right" type="model" physics="submerged" buoyant="false">
        <physical>
          <mesh filename="robots/marlin_v2/frame/frame_right/frame_right_collision.obj" scale="1.0" convex="true" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </physical>

        <visual>
          <mesh filename="robots/marlin_v2/frame/frame_right/frame_right.obj" scale="1.0" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </visual>

        <mass value="0.481" />

        <material name="Aluminum" />
        <look name="Black" />

        <compound_transform xyz="-0.3304 0.016419 0.083065" rpy="0.0 0.0 0.0" />
      </external_part>


      <!-- Meb -->

      <external_part name="Meb" type="cylinder" physics="surface">
        <dimensions radius="0.117" height="0.66" thickness="0.003" />
        <origin xyz="0.0 0.0 0.0" rpy="{{ PI / 2 }} 0.0 0.0"/>

        <material name="Acrylic"/>
        <look name="White"/>

        <compound_transform xyz="0.0 0.0 -0.227" rpy="0.0 0.0 0.0" />
      </external_part>

      <external_part name="Meb_Mounting_Front" type="model" physics="submerged" buoyant="false">
        <physical>
          <mesh filename="robots/marlin_v2/meb_mounting_front/meb_mounting_front_collision.obj" scale="1.0" convex="true" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </physical>

        <visual>
          <mesh filename="robots/marlin_v2/meb_mounting_front/meb_mounting_front.obj" scale="1.0" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </visual>

        <material name="Plastic" />
        <look name="Marlin_Blue" />

        <compound_transform xyz="0.0 -0.32 -0.2" rpy="0.0 0.0 0.0" />
      </external_part>

      <external_part name="Meb_Front_Camera_Dome" type="model" physics="surface">
        <physical>
          <mesh filename="robots/marlin_v2/meb_front_camera_dome/meb_front_camera_dome_collision.obj" scale="1.0" convex="true" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </physical>

        <visual>
          <mesh filename="empty.obj" scale="1.0" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </visual>

        <material name="Acrylic" />
        <look name="White" />

        <compound_transform xyz="0.0 -0.348744 -0.166305" rpy="0.0 0.0 0.0" />
      </external_part>

      <external_part name="Meb_Mounting_Rear" type="model" physics="submerged" buoyant="false">
        <physical>
          <mesh filename="robots/marlin_v2/meb_mounting_rear/meb_mounting_rear_collision.obj" scale="1.0" convex="true" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </physical>

        <visual>
          <mesh filename="robots/marlin_v2/meb_mounting_rear/meb_mounting_rear.obj" scale="1.0" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </visual>

        <material name="Plastic" />
        <look name="Marlin_Blue" />

        <compound_transform xyz="0.0 0.32 -0.2" rpy="0.0 0.0 0.0" />
      </external_part>


      <!-- ESC Boxes -->

      <external_part name="ESC_Box_Left" type="box" physics="submerged" buoyant="false">
        <dimensions xyz="0.15 0.22 0.04"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

        <material name="Aluminum"/>
        <look name="White"/>

        <compound_transform xyz="-0.237215 0.0 -0.0475" rpy="0.0 0.0 0.0" />
      </external_part>

      <external_part name="ESC_Box_Right" type="box" physics="submerged" buoyant="false">
        <dimensions xyz="0.15 0.22 0.04"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>

        <material name="Aluminum"/>
        <look name="White"/>

        <compound_transform xyz="0.237215 0.0 -0.0475" rpy="0.0 0.0 0.0" />
      </external_part>


      <!-- Task Based Component Mounting -->

      <external_part name="Grabber_Mounting" type="model" physics="surface">
        <physical>
          <mesh filename="robots/marlin_v2/grabber_mounting/grabber_mounting_collision.obj" scale="1.0" convex="true" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </physical>

        <visual>
          <mesh filename="robots/marlin_v2/grabber_mounting/grabber_mounting.obj" scale="1.0" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </visual>

        <mass value="0.001" />

        <material name="Plastic" />
        <look name="Marlin_Blue" />

        <compound_transform xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </external_part>

      <external_part name="Dropper_Mounting" type="model" physics="surface">
        <physical>
          <mesh filename="robots/marlin_v2/dropper_mounting/dropper_mounting_collision.obj" scale="1.0" convex="true" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </physical>

        <visual>
          <mesh filename="robots/marlin_v2/dropper_mounting/dropper_mounting.obj" scale="1.0" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </visual>

        <mass value="0.001" />

        <material name="Plastic" />
        <look name="Marlin_Blue" />

        <compound_transform xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </external_part>

      <external_part name="Torpedo_Mounting" type="model" physics="surface">
        <physical>
          <mesh filename="robots/marlin_v2/torpedo_mounting/torpedo_mounting_collision.obj" scale="1.0" convex="true" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </physical>

        <visual>
          <mesh filename="robots/marlin_v2/torpedo_mounting/torpedo_mounting.obj" scale="1.0" />
          <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </visual>

        <mass value="0.001" />

        <material name="Plastic" />
        <look name="Marlin_Blue" />

        <compound_transform xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </external_part>


      <!-- Thrusters, excluding propeller which is added below -->

      {{ thruster_visual(
        name="thuster_0",
        xyz="-0.29 0.34 -0.08",
        rpy="0 0 " ~ PI * 7 / 4
      ) }}

      {{ thruster_visual(
        name="thruster_1",
        xyz="-0.29 -0.34 -0.08",
        rpy="0 0 " ~ PI / 4
      ) }}

      {{ thruster_visual(
        name="thruster_2",
        xyz="0.29 0.34 -0.08",
        rpy="0 0 " ~ PI * 5 / 4
      ) }}

      {{ thruster_visual(
        name="thruster_3",
        xyz="0.29 -0.34 -0.08",
        rpy="0 0 " ~ PI * 3 / 4
      ) }}

      {{ thruster_visual(
        name="thruster_4",
        xyz="0.23 -0.22 0.000",
        rpy="0 " ~ PI / 2 ~ " 0"
      ) }}

      {{ thruster_visual(
        name="thruster_5",
        xyz="-0.23 -0.22 0.000",
        rpy="0 " ~ PI / 2 ~ " 0"
      ) }}

      {{ thruster_visual(
        name="thruster_6",
        xyz="0.23 0.22 0.000",
        rpy="0 " ~ PI / 2 ~ " 0"
      ) }}

      {{ thruster_visual(
        name="thruster_7",
        xyz="-0.23 0.22 0.000",
        rpy="0 " ~ PI / 2 ~ " 0"
      ) }}


      <!-- internal_part so it doesn't affect drag, mainly for buoyancy -->

      <internal_part name="Rack" type="cylinder" physics="submerged" buoyant="true">
        <dimensions radius="0.1135" height="0.66" />
        <origin xyz="0.0 0.0 0.0" rpy="{{ PI / 2 }} 0.0 0.0"/>

        <!-- Rack consists of electrical components along with air -->
        <mass value="5.0" />

        <material name="Air"/>
        <look name="Gray"/>

        <compound_transform xyz="0.0 0.0 -0.227" rpy="0.0 0.0 0.0" />
      </internal_part>

      <internal_part name="ESC_Box_Left_Internal" type="box" physics="submerged" buoyant="true">
        <dimensions xyz="0.13 0.2 0.03" />

        <material name="Air"/>
        <look name="White"/>

        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <compound_transform xyz="0.237215 0.0 0.0" rpy="0.0 0.0 0.0" />
      </internal_part>

      <internal_part name="ESC_Box_Right_Internal" type="box" physics="submerged" buoyant="true">
        <dimensions xyz="0.13 0.2 0.03" />

        <material name="Air"/>
        <look name="White"/>

        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <compound_transform xyz="-0.237215 0.0 0.0" rpy="0.0 0.0 0.0" />
      </internal_part>
    </base_link>


    <!-- Task Based Components -->

    <link name="left_grabber_link" type="model" physics="surface">
      <physical>
        <mesh filename="robots/marlin_v2/grabber/left/left_collision.obj" scale="1.0" convex="false" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </physical>

      <visual>
        <mesh filename="robots/marlin_v2/grabber/left/left.obj" scale="1.0" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </visual>

      <material name="Plastic" />
      <look name="White" />

      <world_transform xyz="0.056319 0.3506 0.13631" rpy="0.0 0.0 0.0" />
    </link>

    <joint name="left_grabber_joint" type="revolute">
      <parent name="base_link_ned" />
      <child name="left_grabber_link" />
      <origin xyz="0.056319 0.3506 0.13631" rpy="0.0 0.0 0.0" />
      <axis xyz="0.0 1.0 0.0" />
    </joint>

    <actuator name="left_grabber_servo" type="servo">
      <controller position_gain="1.0" velocity_gain="1.0" max_torque="10.0" max_velocity="0.1" />
      <joint name="left_grabber_joint" />
      <initial position="0.0" />
    </actuator>


    <link name="right_grabber_link" type="model" physics="surface">
      <physical>
        <mesh filename="robots/marlin_v2/grabber/right/right_collision.obj" scale="1.0"
          convex="false" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </physical>

      <visual>
        <mesh filename="robots/marlin_v2/grabber/right/right.obj" scale="1.0" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </visual>

      <material name="Plastic" />
      <look name="White" />

      <world_transform xyz="0.091319 0.35087 0.13636" rpy="0.0 0.0 0.0" />
    </link>

    <joint name="right_grabber_joint" type="revolute">
      <parent name="base_link_ned" />
      <child name="right_grabber_link" />
      <origin xyz="0.091319 0.35087 0.13636" rpy="0.0 0.0 0.0" />
      <axis xyz="0.0 1.0 0.0" />
    </joint>

    <actuator name="right_grabber_servo" type="servo">
      <controller position_gain="1.0" velocity_gain="1.0" max_torque="10.0" max_velocity="0.1" />
      <joint name="right_grabber_joint" />
      <initial position="0.0" />
    </actuator>


    <link name="dropper_link" type="model" physics="surface">
      <physical>
        <mesh filename="robots/marlin_v2/dropper/dropper_collision.obj" scale="1.0" convex="true" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </physical>

      <visual>
        <mesh filename="robots/marlin_v2/dropper/dropper.obj" scale="1.0" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </visual>

      <material name="Plastic"/>
      <look name="White"/>

      <world_transform xyz="-0.19074 0.40252 0.15565" rpy="0.0 0.0 0.0" />
    </link>

    <joint name="dropper_joint" type="revolute">
      <parent name="base_link_ned"/>
      <child name="dropper_link"/>
      <origin xyz="-0.19074 0.40252 0.15565" rpy="0.0 0.0 0.0"/>
      <axis xyz="0.0 1.0 0.0"/>
    </joint>

    <actuator name="dropper_servo" type="servo">
      <controller position_gain="1.0" velocity_gain="1.0" max_torque="10.0" max_velocity="0.1"/>
      <joint name="dropper_joint"/>
      <initial position="0.0"/>
    </actuator>


    <!-- Sensors -->

    <sensor name="dvl_link" rate="10.0" type="dvl">
      <link name="base_link_ned" />

      <specs beam_angle="30.0" beam_positive_z="false" />
      <range velocity="3.75 3.75 3.75" altitude_min="0.05" altitude_max="50.0" />
      <water_layer minimum_layer_size="10.0" boundary_near="10.0" boundary_far="30.0" />
      <noise velocity_percent="0.0101" velocity="0.01" altitude="0.03" water_velocity_percent="0.0" water_velocity="0.00" />
      <history samples="1" />

      <origin xyz="0.0 0.0 0.015797" rpy="0.0 0.0 0.0" />

      <ros_publisher topic="/marlin_v2/sim/dvl" />
    </sensor>

    <sensor name="imu_link" rate="30.0" type="imu">
      <link name="base_link_ned"/>

      <range angular_velocity="10.0 10.0 5.0" linear_acceleration="10.0"/>
      <noise angle="0.05 0.05 1.0" angular_velocity="0.00" yaw_drift="0.00" linear_acceleration="0.00"/>
      <history samples="1"/>

      <origin xyz="0.0 -0.15 -0.2" rpy="0.0 0.0 0.0"/>

      <ros_publisher topic="/marlin_v2/imu"/>
    </sensor>

    <sensor name="front_camera" rate="20.0" type="camera">
      <link name="base_link_ned" />

      <specs resolution_x="1280" resolution_y="720" horizontal_fov="60.0" />
      <origin xyz="0.0 -0.33 -0.16631" rpy="{{ -PI/2 }} {{ PI }} {{ PI }}" />

      <ros_publisher topic="/marlin_v2/front_camera" />
    </sensor>

    <sensor name="seg_cam" rate="10.0" type="segmentation">
      <link name="base_link_ned" />

      <specs resolution_x="1280" resolution_y="720" horizontal_fov="60.0" />
      <origin xyz="0.0 -0.33 -0.16631" rpy="{{ -PI/2 }} {{ PI }} {{ PI }}" />

      <ros_publisher topic="/marlin_v2/sim/segment" />
    </sensor>

    <!-- Thrusters -->
    <!-- Order of thrusters is VERT FL, VERT FR, VERT BL, VERT BR, SURGE FL, SURGE FR, SURGE BL, SURGE BR -->
    <!-- Cannot use include tag here because they can only be used at the top level -->
    {{ thruster_actuator(
      name="thuster_0",
      link_name="base_link_ned",
      xyz="-0.29 0.34 -0.08",
      rpy="0 0 " ~ PI * 7 / 4,
      right="true"
    ) }}

    {{ thruster_actuator(
      name="thruster_1",
      link_name="base_link_ned",
      xyz="-0.29 -0.34 -0.08",
      rpy="0 0 " ~ PI / 4,
      right="true"
    ) }}

    {{ thruster_actuator(
      name="thruster_2",
      link_name="base_link_ned",
      xyz="0.29 0.34 -0.08",
      rpy="0 0 " ~ PI * 5 / 4,
      right="true"
    ) }}

    {{ thruster_actuator(
      name="thruster_3",
      link_name="base_link_ned",
      xyz="0.29 -0.34 -0.08",
      rpy="0 0 " ~ PI * 3 / 4,
      right="true"
    ) }}

    {{ thruster_actuator(
      name="thruster_4",
      link_name="base_link_ned",
      xyz="0.23 -0.22 0.000",
      rpy="0 " ~ PI / 2 ~ " 0",
      right="true"
    ) }}

    {{ thruster_actuator(
      name="thruster_5",
      link_name="base_link_ned",
      xyz="-0.23 -0.22 0.000",
      rpy="0 " ~ PI / 2 ~ " 0",
      right="true"
    ) }}

    {{ thruster_actuator(
      name="thruster_6",
      link_name="base_link_ned",
      xyz="0.23 0.22 0.000",
      rpy="0 " ~ PI / 2 ~ " 0",
      right="true"
    ) }}

    {{ thruster_actuator(
      name="thruster_7",
      link_name="base_link_ned",
      xyz="-0.23 0.22 0.000",
      rpy="0 " ~ PI / 2 ~ " 0",
      right="true"
    ) }}

    <ros_base_link_transform publish="false" />

    <ros_publisher servos="/marlin_v2/sim/joint_states" thrusters="/marlin_v2/sim/thruster_states" />
    <ros_subscriber servos="/marlin_v2/sim/joint_setpoints" thrusters="/marlin_v2/sim/thruster_setpoints" />

    <world_transform xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)" />
  </robot>
</scenario>